@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: local(''),
        url('/fonts/quicksand-v30-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/quicksand-v30-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local(''),
        url('/fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/quicksand-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: local(''),
        url('/fonts/quicksand-v30-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/quicksand-v30-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local(''),
        url('/fonts/quicksand-v30-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/quicksand-v30-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local(''),
        url('/fonts/quicksand-v30-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/quicksand-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jetbrains-mono-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/jetbrains-mono-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/jetbrains-mono-v18-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/jetbrains-mono-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/jetbrains-mono-v18-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #004a99;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* adjust the height of the gradient */
    z-index: 2;
    background: linear-gradient(to bottom, #004a99, #004a9900);
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* adjust the height of the gradient */
    z-index: 1;
    background: linear-gradient(to top, #004a99, #004a9900);
}


main {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 56rem;
}

footer {
    margin-bottom: 5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
sub,
li,
tr,
th,
dd,
dt {
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cce6ff;
}

a {
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

figcaption {
    text-align: center;
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cce6ff81;
    font-size: 14pt;
    margin-top: 5px;
}

p,
sub,
li,
figcaption {
    font-size: 16pt;
}

img {
    max-width: 100%;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

hr {
    max-width: 56rem;
    text-align: center;
    margin: auto;
    border: 2px solid #80c1ff30;
    border-radius: 100px;
}

a:link {
    color: #9ec2e6;
}

a:visited {
    color: #777cbe;
}

a:hover {
    color: #c8e4ff;
}

a:active {
    color: #c6d9ec;
}

.language-switcher {
    margin-top: 5.5rem;
}

.language-switcher-en {
    background: linear-gradient(to bottom right, #ff000040, #9b9b9b40, #0a316140);
    border-radius: 100px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 1px solid #ffffff33;
    box-shadow: 0px 5px 10px #0000002f;
    position: fixed;
    margin-bottom: auto;
    margin-left: -50px;
    z-index: 2;
    backdrop-filter: blur(30px);
    text-decoration: none;
    user-select: none;
}

.language-switcher-id {
    background: linear-gradient(to bottom, #ff000040, #9b9b9b40);
    border-radius: 100px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 1px solid #ffffff33;
    box-shadow: 0px 5px 10px #0000002f;
    position: fixed;
    margin-bottom: auto;
    margin-left: 10px;
    z-index: 2;
    backdrop-filter: blur(30px);
    text-decoration: none;
    user-select: none;
}

.language-switcher-id:hover {
    background: linear-gradient(to bottom, #ff0000c0, #9b9b9bc0);
}

.id-active {
    background: linear-gradient(to bottom, #ff0000c0, #9b9b9bc0);
}

.language-switcher-en:hover {
    background: linear-gradient(to bottom right, #ff0000c0, #9b9b9bc0, #0a3161c0);
}

.en-active {
    background: linear-gradient(to bottom right, #ff0000c0, #9b9b9bc0, #0a3161c0);
}

.image-gallery {
    column-count: 2;
    column-gap: 1em;
}

@media screen and (max-width: 590px) {
    .image-gallery {
        column-count: 2;
        column-gap: 1em;
    }
}

.gallery-item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    padding-bottom: 15px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

figure a {
    position: relative;
    display: inline-block;
}

.art {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

figure p {
    margin: 0;
    vertical-align: middle;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 50px;
}

.icon {
    vertical-align: middle;
    width: 26px;
    height: 26px;
    opacity: 75%;
}

blockquote {
    border-left: 2px solid #cce6ff;
    margin: 1.5em 10px;
    padding: 0px 10px;
}

pre {
    padding: 15px;
    border-radius: 15px;
    background-color: #002955 !important;
    color: #cce6ff;
    outline: 1px solid #326aa482;
}

code {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #002955 !important;
    color: #cce6ff;
    font-family: 'JetBrains Mono';
}

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}

th {
    background-color: #002955;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    border: 1px solid #326aa482;
}

tr:nth-child(even) {
    background-color: #003e80;
}

/* required css to make rounded table (below) */
tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.button {
    filter: opacity(100%);
    transition: filter 0.25s ease;
}

.button:hover {
    filter: opacity(75%);
    transition: filter 0.25s ease;
}

@view-transition {
    navigation: auto;
}