/* Inclusive Sans Regular - Latin */
@font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/InclusiveSans-Regular.woff2') format('woff2');
  }
  
  /* Inclusive Sans Bold - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/InclusiveSans-Bold.woff2') format('woff2');
  }
  
  /* Inclusive Sans Italic Regular - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/InclusiveSansItalic-Regular.woff2') format('woff2');
  }
  
  /* Inclusive Sans Italic Light - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/InclusiveSansItalic-Light.woff2') format('woff2');
  }
  
  /* Inclusive Sans Italic Medium - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/InclusiveSansItalic-Medium.woff2') format('woff2');
  }
  
  /* Inclusive Sans Italic SemiBold - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/InclusiveSansItalic-SemiBold.woff2') format('woff2');
  }
  
  /* Inclusive Sans Light - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/InclusiveSans-Light.woff2') format('woff2');
  }
  
  /* Inclusive Sans Medium - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/InclusiveSans-Medium.woff2') format('woff2');
  }
  
  /* Inclusive Sans SemiBold - Latin */
  @font-face {
    font-display: swap;
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/InclusiveSans-SemiBold.woff2') format('woff2');
  }
  

  @font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/Iosevka-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Iosevka-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: italic;
    font-weight: 200;
    src: url('/fonts/Iosevka-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Iosevka-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Iosevka-Italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/Iosevka-LightItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Iosevka-Light.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Iosevka-Regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/Iosevka-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Iosevka';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Iosevka-SemiBold.woff2') format('woff2');
}


body {
    background-color: #004a99;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* adjust the height of the gradient */
    z-index: 2;
    background: linear-gradient(to bottom, #004a99, #004a9900);
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* adjust the height of the gradient */
    z-index: 1;
    background: linear-gradient(to top, #004a99, #004a9900);
}


main {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: calc(100vw - 2em);
    width: 60rem;
    word-wrap: break-word;         /* Breaks long words when necessary */
    overflow-wrap: break-word;     /* Modern equivalent for word wrapping */
    word-break: break-word;        /* Forces breaks for extremely long words */
    white-space: normal;           /* Allow normal text wrapping */
    hyphens: manual;               /* Prevents automatic hyphenation */
    overflow-x: hidden;
}

footer {
    margin-bottom: 5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
sub,
li,
tr,
th,
dd,
dt {
    font-family: 'Inclusive Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cce6ff;
}

a {
    font-family: 'Inclusive Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

figcaption {
    text-align: center;
    font-family: 'Inclusive Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cce6ff81;
    font-size: 14pt;
    margin-top: 1em;
    max-width: 60vh;
    display: block;      /* Makes the image a block-level element */
    margin-left: auto;   /* Automatically adjust the left margin */
    margin-right: auto;
}

ol li {
    filter: opacity(75%);
    font-size: 16pt;
    margin-bottom: 0.75em;
}

ol li p {
    font-size: 16pt;
}

ul li {
    filter: opacity(75%);
    margin-top: 0.75em;
    font-size: 16pt
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5em;
    line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
    filter: opacity(75%);
}

p,
sub {
    font-size: 1.5em;
    line-height: 1.6;
}

img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
    padding: 0;
}

hr {
    max-width: 56rem;
    text-align: center;
    margin: auto;
    border: 1px solid #80c1ff30;
    border-radius: 100px;
}

a:link {
    color: #b3d9ff;
}

a:visited {
    color: #99b3ff;
}

a:hover {
    color: #e6f3ff;
}

a:active {
    color: #a6cfff;
}

.language-switcher {
    margin-top: 5.5rem;
    text-align: center;
}

.language-switcher-en {
    background: linear-gradient(to bottom right, #ff000040, #9b9b9b40, #0a316140);
    border-radius: 100px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.25rem;
    outline: 1px solid #ffffff33;
    box-shadow: 0px 5px 10px #0000002f;
    margin-bottom: auto;
    z-index: 2;
    backdrop-filter: blur(30px);
    text-decoration: none;
    user-select: none;
}

.language-switcher-id {
    background: linear-gradient(to bottom, #ff000040, #9b9b9b40);
    border-radius: 100px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.25rem;
    outline: 1px solid #ffffff33;
    box-shadow: 0px 5px 10px #0000002f;
    margin-bottom: auto;
    z-index: 2;
    backdrop-filter: blur(30px);
    text-decoration: none;
    user-select: none;
}

.language-switcher-id:hover {
    background: linear-gradient(to bottom, #ff0000c0, #9b9b9bc0);
}

.id-active {
    background: linear-gradient(to bottom, #ff0000c0, #9b9b9bc0);
    font-weight: bold;
}

.language-switcher-en:hover {
    background: linear-gradient(to bottom right, #ff0000c0, #9b9b9bc0, #0a3161c0);
}

.en-active {
    background: linear-gradient(to bottom right, #ff0000c0, #9b9b9bc0, #0a3161c0);
    font-weight: bold;
}

.image-gallery {
    column-count: 3;
    column-gap: 1em;
    user-select: none;
}

@media screen and (max-width: 590px) {
    .image-gallery {
        column-count: 2;
        column-gap: 1em;
    }
}

.gallery-item {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    padding-bottom: 15px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

figure a {
    position: relative;
    display: inline-block;
}

.art {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    max-height: none;
    transition: filter 0.3s ease-in-out;
}

.art:hover {
    filter: brightness(115%);
}

figure p {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out 1.5s forwards; /* Delay of 1.5s, fades in over 2s */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


figure p {
    margin: 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 50px;
}

.icon {
    width: 26px;
    height: 26px;
    opacity: 75%;
    padding-right: 5px;
}

blockquote {
    border-left: 2px solid #cce6ff;
    margin: 1.5em 10px;
    padding: 0px 10px;
}

pre {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: #002955 !important;
    color: #cce6ff;
    outline: 1px solid #326aa482;
    overflow-x: auto;
    line-height: 1.6;
}

code {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #002955 !important;
    color: #cce6ff;
    font-family: 'Iosevka';
    font-feature-settings: "ss07"
}

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}

th {
    background-color: #002955;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    border: 1px solid #326aa482;
}

tr:nth-child(even) {
    background-color: #003e80;
}

/* required css to make rounded table (below) */
tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.button {
    filter: opacity(100%);
    transition: filter 0.25s ease;
}

.button:hover {
    filter: opacity(75%);
    transition: filter 0.25s ease;
}

@view-transition {
    navigation: auto;
}

abbr {
    cursor: help;
    text-decoration: underline dotted;
  }

  abbr[data-title] {
    position: relative;
    /* Ensure consistent styling across browsers */
    text-decoration: underline dotted;
  }

  abbr[data-title]:hover::after,
  abbr[data-title]:focus::after {
    content: attr(data-title);

    position: absolute;
    left: -75%;
    bottom: 30px;
    width: auto;
    white-space: nowrap;
    background-color: #10579eb9;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    font-size: 14px;
    padding: 3px 5px;
  }