.topnav {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #10579eb9;
    border-radius: 100px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    z-index: 9999;
    backdrop-filter: blur(30px);
    outline: 1px solid #1f7ad683;
    box-shadow: 0px 5px 10px #0000002f;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    border-radius: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    transition: all 0.01s ease;
}

.topnav a:hover {
    background-color: #1e90ff;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    top: 0;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    user-select: none;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes flash {
    0% {
        opacity: 0;
        /* Invisible at midpoint */
    }
    100% {opacity: 1;} 
}

@media screen and (max-width: 590px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        animation: flash 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
        top: 0;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 30px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}