{{ define "main" }}

<div style="user-select: none;">
  <h1 style="font-size: 32pt;">{{ .Title }}</h1>

{{ $minute := i18n "minute"}} {{ $minutes := i18n "minutes"}}
<p style="filter: opacity(75%); font-size: 12pt;">
  {{ i18n "reading-time" }} {{ .ReadingTime }} {{ cond (eq .ReadingTime 1)
  $minute $minutes }} · {{ i18n "published" }} {{ .Date.Format "2006-01-02" }} ·
  {{ .WordCount }} {{ i18n "words" }}
</p>
</div>

<hr style="margin-top: 30px; margin-bottom: 30px;" />

{{ .Content }} {{ end }}
