<div
  style="
    background-color: #10579e;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 5px 10px #00000015;
    outline: 1px solid #1f7ad683;
    user-select: none;
  "
>
  <a href="{{ .Permalink }}"><h1 style="margin:0">{{ .Title }}</h1></a>
  <p style="filter: opacity(75%); font-size: 1.25em;"><i>
    {{ plainify .Summary | 
      replaceRE "(&rsquo;)" "’" | 
      replaceRE "(&lsquo;)" "‘" | 
      replaceRE "(&rdquo;)" "”" | 
      replaceRE "(&ldquo;)" "“" | 
      replaceRE "(&rsquo;)" "’" | 
      replaceRE "(&laquo;)" "«" | 
      replaceRE "(&raquo;)" "»" | 
      replaceRE "(&mdash;)" "—" | 
      replaceRE "(&ndash;)" "–" | 
      replaceRE "(&hellip;)" "…" | 
      replaceRE "(:)\\s*$" "…"
  }}
  
  </i></p>
  {{ $minute := i18n "minute"}} {{ $minutes := i18n "minutes"}}
  <sub style="filter: opacity(50%); font-size: 1em;"
    >{{ i18n "reading-time" }} {{ .ReadingTime }} {{ cond (eq .ReadingTime 1)
    $minute $minutes }} · {{ i18n "published" }} {{ .Date.Format "2006-01-02" }}
    · {{ .WordCount }} {{ i18n "words" }}</sub
  >
</div>
<br />
