<div style="
    background-color: #10579e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1.5rem;
    padding-top: 1px;
    outline: 1px solid #1f7ad683;
    box-shadow: 0px 5px 10px #00000015;
    user-select: none;
  ">
  <h4>{{ i18n "game-controls" }}</h4>

  <h2>{{ i18n "desktop" }}</h2>
  <p>{{ .Get 0 | safeHTML }}</p>

  <h2>{{ i18n "mobile" }}</h2>
  <p>{{ .Get 1 | safeHTML }}</p>

  <hr />

  <h4>{{ i18n "notes" }}</h4>
  <p>{{ .Get 2 | safeHTML }}</p>

  <hr />
  <h4>{{ i18n "credits" }}</h4>
  <p>{{ .Get 3 | safeHTML }}</p>
</div>

<style>
  h4 {
    filter:opacity(75%);
    text-transform: uppercase;
  }
</style>

<br>