<div class="container">
<iframe class="responsive-iframe" src="/games/{{ .Get 0 }}/index.html" allowtransparency="true" width="480" height="360" frameborder="0" scrolling="no" allowfullscreen></iframe>
</div>
<style>
    .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 5px 10px #00000015;
  outline: 1px solid #1f7ad683;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
