<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="https://linerly.xyz{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Lang }}" />
{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <meta property="article:section" content="{{ .Section }}" />
  {{ with .PublishDate }}<meta property="article:published_time" content="{{ .Format $iso8601 }}" />{{ end }}
  {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format $iso8601 }}" />{{ end }}
{{- end -}}
{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}
  {{- range . }}
    <meta property="og:video" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}
{{/* Generate opengraph image */}}
{{- if .IsPage -}}
  {{ $base := resources.Get "opengraph/image.png" }}
  {{ $font := resources.Get "opengraph/InclusiveSans-Bold.ttf" }}
  {{ $img := $base.Filter (images.Text .Page.Title (dict "color" "#ffffff" "size" 64 "linespacing" 2 "x" 77 "y" 60 "font" $font )) }}
  {{ $img = resources.Copy (path.Join .Page.RelPermalink "og.png") $img }}
  <meta property="og:image" content="https://linerly.xyz{{ $img.Permalink }}" />
  <meta property="og:image:width" content="{{ $img.Width }}" />
  <meta property="og:image:height" content="{{ $img.Height }}" />

  <!-- Twitter/X metadata (used by other websites as well) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  <meta name="twitter:image" content="{{ $img.Permalink }}" />
  
  <!-- Mastodon (fediverse) metadata -->
  <meta name="fediverse:creator" content="@linerly@mstdn.plus">
{{ end }}
