{{ define "main" }}
<svg
  width="100%"
  height="100%"
  version="1.1"
  viewBox="0 0 143.93 63.5"
  xml:space="preserve"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <filter
      id="filter29156"
      x="-.74598"
      y="-.73966"
      width="2.492"
      height="2.4793"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="26.437521" />
    </filter>
    <filter
      id="filter30784"
      x="-.06028"
      y="-.19382"
      width="1.1206"
      height="1.3876"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="3.2169536" />
    </filter>
    <filter
      id="filter16899"
      x="-.867"
      y="-.867"
      width="2.734"
      height="2.734"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="0.45995992" />
    </filter>
    <filter
      id="filter21037"
      x="-.36675"
      y="-.71445"
      width="1.7335"
      height="2.4289"
      color-interpolation-filters="sRGB"
    >
      <feGaussianBlur stdDeviation="12.919001" />
    </filter>
  </defs>
  <path
    transform="matrix(.21604 -.09928 0 .18998 61.004 31.504)"
    d="m51.165-15.074a42.528 42.892 0 0 1 42.105 43.283 42.528 42.892 0 0 1-42.884 42.497 42.528 42.892 0 0 1-42.169-43.22 42.528 42.892 0 0 1 42.822-42.561"
    fill="#1e90ff"
    filter="url(#filter29156)"
  />
  <path
    transform="matrix(.48624 0 0 .60076 36.973 -6.3981)"
    d="m72.385 41.802a42.271 21.699 0 0 1 41.851 21.897 42.271 21.699 0 0 1-42.625 21.499 42.271 21.699 0 0 1-41.914-21.865 42.271 21.699 0 0 1 42.563-21.532"
    filter="url(#filter21037)"
    opacity=".3"
  />
  <g stroke-linecap="round" stroke-linejoin="round">
    <g
      transform="matrix(.48624 0 0 .48624 36.973 .87348)"
      fill="#ccefff"
      filter="url(#filter30784)"
      opacity=".25"
      stroke-dasharray="11.5263, 23.0527"
      stroke-width="5.7632"
      aria-label="4 0 4"
    >
      <path
        d="m28.895 82.864q-1.3832 0-2.3237-0.94055-0.94055-0.99587-0.94055-2.4344v-26.003l1.1619 0.27663-10.678 13.223-0.27663-0.71924h19.586q1.3278 0 2.2131 0.88522 0.88522 0.88522 0.88522 2.2131 0 1.2725-0.88522 2.1577-0.88522 0.8299-2.2131 0.8299h-24.178q-1.1619 0-2.2684-0.94055-1.0512-0.94055-1.0512-2.3237 0-1.2172 0.82989-2.2131l17.483-21.411q0.44261-0.60859 1.1619-0.94055 0.71924-0.38728 1.6045-0.38728 1.4385 0 2.3237 0.99587 0.94055 0.94055 0.94055 2.379v31.979q0 1.4385-0.99587 2.4344-0.94055 0.94055-2.379 0.94055z"
      />
      <path
        d="m72.382 83.417q-4.7581 0-8.0776-2.4897-3.2643-2.545-4.9794-7.0264-1.7151-4.5368-1.7151-10.401 0-5.9199 1.7151-10.401 1.7151-4.4814 4.9794-6.9711 3.3196-2.545 8.0776-2.545t8.0223 2.545q3.3196 2.4897 5.0347 6.9711 1.7151 4.4814 1.7151 10.401 0 5.8646-1.7151 10.401-1.7151 4.4814-5.0347 7.0264-3.2643 2.4897-8.0223 2.4897zm0-6.6392q2.3237 0 3.9835-1.4385 1.7151-1.4938 2.6557-4.4261 0.94055-2.9876 0.94055-7.4137 0-4.4814-0.94055-7.4137t-2.6557-4.3708q-1.6598-1.4938-3.9835-1.4938-2.2684 0-3.9835 1.4938-1.7151 1.4385-2.6557 4.3708t-0.94055 7.4137q0 4.4261 0.94055 7.4137 0.94055 2.9323 2.6557 4.4261 1.7151 1.4385 3.9835 1.4385z"
      />
      <path
        d="m126.38 82.864q-1.3832 0-2.3237-0.94055-0.94054-0.99587-0.94054-2.4344v-26.003l1.1618 0.27663-10.678 13.223-0.27663-0.71924h19.586q1.3278 0 2.213 0.88522 0.88523 0.88522 0.88523 2.2131 0 1.2725-0.88523 2.1577-0.88522 0.8299-2.213 0.8299h-24.178q-1.1618 0-2.2684-0.94055-1.0512-0.94055-1.0512-2.3237 0-1.2172 0.8299-2.2131l17.483-21.411q0.44261-0.60859 1.1618-0.94055 0.71924-0.38728 1.6045-0.38728 1.4385 0 2.3237 0.99587 0.94054 0.94055 0.94054 2.379v31.979q0 1.4385-0.99587 2.4344-0.94055 0.94055-2.379 0.94055z"
      />
    </g>
    <path
      d="m61.969 27.033 5.6764-5.7993h14.32v26.694h-19.996z"
      fill="none"
      stroke="#fff"
      stroke-dasharray="1.28652, 2.57305"
      stroke-width=".64326"
    />
    <g
      transform="matrix(1.5526 0 0 1.5526 -33.361 -74.774)"
      fill="#ede6e3"
      stroke-dashoffset="12"
      stroke-width="1.3229"
      aria-label="?"
    >
      <path
        d="m67.189 70.84q0-0.1651 0.1143-0.2794t0.2667-0.1143q0.5842-0.0381 1.0414-0.2921t0.7239-0.6858 0.2667-1.0033q0-0.5969-0.254-1.0287-0.2413-0.4445-0.6604-0.6858-0.4191-0.254-0.9525-0.254-0.5207 0-0.9779 0.2413t-0.762 0.635q-0.1016 0.1016-0.2413 0.1524-0.127 0.0381-0.2794-0.0635t-0.1778-0.254q-0.0254-0.1651 0.0889-0.3048 0.4064-0.508 1.0287-0.8255t1.3208-0.3175q0.7366 0 1.3335 0.3302 0.6096 0.3302 0.9652 0.9398t0.3556 1.4351q0 0.508-0.2032 0.9779t-0.5588 0.8382-0.8255 0.5842-1.016 0.2413q-0.0381 0 0.0254-0.0127t0.127-0.0762v1.3335q0 0.1651-0.1143 0.2794-0.1016 0.1016-0.2667 0.1016t-0.2794-0.1016q-0.1016-0.1143-0.0889-0.2794zm0.381 4.2672q-0.2159 0-0.3429-0.127-0.1143-0.1397-0.1143-0.3556v-0.2794q0-0.2286 0.1143-0.3556 0.127-0.127 0.3429-0.127h0.0762q0.2286 0 0.3302 0.127 0.1143 0.127 0.1143 0.3556v0.2794q0 0.2159-0.1143 0.3556-0.1016 0.127-0.3302 0.127z"
      />
    </g>
  </g>
  <g transform="matrix(.48624 0 0 .48624 36.973 .87348)" fill="#93cbff">
    <path
      d="m11.96 14.757a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m134.27 119.25a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64103-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m15.441 107.07a0.63662 0.63662 0 0 1 0.63029 0.64243 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 82.883 5.2224)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 91.339 108.63)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 139.14 13.878)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m80.111 7.9249a0.63662 0.63662 0 0 1 0.63029 0.64243 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m85.419 33.111a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m52.49 38.833a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m120.72 31.37a0.63662 0.63662 0 0 1 0.63029 0.64243 0.63662 0.63662 0 0 1-0.64195 0.63077 0.63662 0.63662 0 0 1-0.63125-0.64149 0.63662 0.63662 0 0 1 0.64103-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      d="m104.67 103.59a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64103-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 74.735 93.741)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 167.5 87.037)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 169.74 10.657)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
    <path
      transform="matrix(-.71366 0 0 .71366 158.66 -5.4071)"
      d="m49.009 18.238a0.63662 0.63662 0 0 1 0.63029 0.64242 0.63662 0.63662 0 0 1-0.64196 0.63077 0.63662 0.63662 0 0 1-0.63124-0.64149 0.63662 0.63662 0 0 1 0.64102-0.63172"
      filter="url(#filter16899)"
      opacity=".5"
    />
  </g>
</svg>
<h1 style="text-align: center"><a href="/en">🏠 ←</a></h1>
<br />
{{end}}
