<!DOCTYPE html>
<html lang="en">
  <!--Redirection code adapted from https://nanmu.me/en/posts/2020/hugo-i18n-automatic-language-redirection/-->
  <head>
    <title>Linerly</title>
    <meta
      name="description"
      content="Linerly's website — thoughts, opinions, rants, guides, and more"
    />
    <meta name="keywords" content="Linerly" />
    <meta name="author" content="Linerly" />
    <meta property="og:image" content="/media/profile-picture.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:width" content="512" />
    <meta property="og:url" content="https://linerly.xyz{{ .Permalink }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <noscript>
      <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
    </noscript>
    <script>
      (function () {
        // Only do i18n at root,
        // otherwise, redirect immediately
        if (window.location.pathname !== "/") {
          window.location.replace("{{ .Permalink }}");
          return;
        }

        var getFirstBrowserLanguage = function () {
          var nav = window.navigator,
            browserLanguagePropertyKeys = [
              "language",
              "browserLanguage",
              "systemLanguage",
              "userLanguage",
            ],
            i,
            language;

          if (Array.isArray(nav.languages)) {
            for (i = 0; i < nav.languages.length; i++) {
              language = nav.languages[i];
              if (language && language.length) {
                return language;
              }
            }
          }

          // support for other well-known properties in browsers
          for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
            language = nav[browserLanguagePropertyKeys[i]];
            if (language && language.length) {
              return language;
            }
          }
          return "en";
        };

        var preferLang = getFirstBrowserLanguage();
        if (preferLang.indexOf("id") !== -1) {
          // visitor prefers Indonesian?
          window.location.replace("/id/");
        } else {
          // fallback to English if otherwise
          window.location.replace("/en/");
        }
      })();
    </script>
  </head>
  <body>
    <h1>Redirecting...</h1>
    <p>
      You should be redirected in a few moments.
      <a href="{{ .Permalink }}">Continue here if otherwise.</a>
    </p>
  </body>
</html>
