{{ define "main" }}

<img class="sticker" draggable="false" src="/media/core/sticker1.svg" style="top: 15%; left: 2%;" />
<img class="sticker bound-right" draggable="false" src="/media/core/sticker2.svg" style="top: 65%; right: 5%;" />
<img class="sticker" draggable="false" src="/media/core/sticker3.svg" style="top: 20%; left: 50%;" />
<img class="sticker" draggable="false" src="/media/core/sticker4.svg" style="top: 50%; left: 30%;" />
<img class="sticker" draggable="false" src="/media/core/sticker5.svg" style="top: 60%; left: 60%;" />
<img class="sticker" draggable="false" src="/media/core/sticker6.svg" style="top: 10%; left: 90%;" />
<img class="sticker" draggable="false" src="/media/core/sticker7.svg" style="top: 30%; left: 75%;" />
<img class="sticker" draggable="false" src="/media/core/sticker8.svg" style="top: 50%; left: 85%;" />
<img class="sticker" draggable="false" src="/media/core/sticker9.svg" style="top: 20%; left: 30%;" />


<style>
body {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.bound-right {
    position: absolute;
    right: 5%; /* Initially bound to the right */
}

.sticker {
    position: absolute;
    z-index: 1;
    user-select: none;
    cursor: grab;
    touch-action: none;
    transition: transform 0.1s ease-out;
}

.sticker:active {
    cursor: grabbing;
    transform: scale(1.1);
}


@media (max-width: 900px) { /* Adjust breakpoint as needed */
    .sticker:not(:first-child) {
        filter: opacity(15%);
    }
}

@media (max-width: 590px) { /* Adjust breakpoint as needed */
    .sticker:first-child {
      filter: opacity(25%);
    }

    .sticker:nth-child(n+3) {
        display: none;
    }
}
</style>

<script>
  document.querySelectorAll(".sticker").forEach(sticker => {
      let offsetX, offsetY, isDragging = false;
  
      sticker.addEventListener("mousedown", (e) => {
          e.preventDefault();
          isDragging = true;
          
          // If sticker was bound to the right, convert it to left
          if (sticker.classList.contains("bound-right")) {
              let rect = sticker.getBoundingClientRect();
              sticker.style.left = rect.left + "px";
              sticker.style.right = "auto"; // Remove right binding
              sticker.classList.remove("bound-right");
          }
  
          offsetX = e.clientX - sticker.getBoundingClientRect().left;
          offsetY = e.clientY - sticker.getBoundingClientRect().top;
  
          function moveSticker(event) {
              let scrollX = window.scrollX;
              let scrollY = window.scrollY;
              sticker.style.left = (event.clientX + scrollX - offsetX) + "px";
              sticker.style.top = (event.clientY + scrollY - offsetY) + "px";
          }
  
          function stopDragging() {
              isDragging = false;
              document.removeEventListener("mousemove", moveSticker);
              document.removeEventListener("mouseup", stopDragging);
          }
  
          document.addEventListener("mousemove", moveSticker);
          document.addEventListener("mouseup", stopDragging);
      });
  });
  </script>
  

<h1 style="text-align: center; font-size: 5em; user-select: none;
           position: relative; animation: extrudeUp 0.8s ease-out forwards;">
    Linerly
</h1>

<style>
@keyframes extrudeUp {
    from {
        text-shadow: 0px 8px 0px #072d53;
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        text-shadow: 0px 8px 0px #072d53;
        transform: translateY(0);
        opacity: 1;
    }
}
</style>


<br>

{{ .Content }}

<div>
  {{range first 3 (where .Site.RegularPages "Type" "blog") }} {{ .Render
  "summary" }} {{ end }}
</div>
{{ end }}
