<p>
  <span>l</span><span>i</span><span>n</span><span>e</span><span>r</span><span>l</span><span>y</span><span>&#64;</span><span>l</span><span>i</span><span>n</span><span>e</span><span>r</span><span>l</span><span>y</span><span>&#46;</span><span>x</span><span>y</span><span>z</span>
</p>
