<script>
    function shuffleGallery() {
        let gallery = document.getElementById("image-gallery");
        let items = Array.from(gallery.children);
        items.sort(() => Math.random() - 0.5); // Randomly shuffle the array

        // Append shuffled items back to the gallery
        gallery.innerHTML = "";
        items.forEach(item => gallery.appendChild(item));
    }

    // Run shuffle on page load
    window.addEventListener("load", shuffleGallery);
</script>

<div id="image-gallery" class="image-gallery">{{ .Inner | safeHTML }}</div>